* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #fafafa;
}
header {
    height: 40px;
    background-color: #004834;
    margin-bottom: 5px;
}

header a {   
    padding: 7px;
    text-decoration: none;
    color: #fafafa
} 
header div { 
    position: relative;
    top: 10%;
    height: 80%;
    width: auto; 
    display: inline-flex;
    flex-direction: column;
    border-radius: 8%;
}
#addInfo {
    width: 200px;
    background-color:maroon;
    color: white;
    margin-top:5px;
}